/node_modules
/public/build
/public/build.zip
/public/images/products
/public/images/gacha
/public/images/dp
/public/images/dp_exchange
/public/delivery_csv

/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
toretoreoripa_server.rar
/.idea
/.vscode
